body{
	background-color: rgba(45, 30, 20, 1);
}

.container			/*width=1140px*/
{

}

/*header*/
#header
{
	height:100px;
	background-color: #944d5a;
	border-radius: 4px;
}

#header h5{
	margin: 0px;
}

#logo{
	padding-top: 15px;
	font-family:'Samarkan Normal';
	font-size: 75px;
}

#logo a:link {
	color:black;
	text-decoration: none;
}

#logo a:visited {
	color:black;
	text-decoration: none;
}

@font-face {
	font-family: 'Samarkan Normal';
	font-style: normal;
	font-weight: normal;
	src: local('Samarkan Normal'), url('SAMARN__.woff') format('woff');
}

/*nav*/	

.activeX{
		background-color: #bac1c4;
}

.navbar{
	margin-top: 0px;
	margin-bottom: 0px; /*don't change*/
	border: 1px solid black;
	background-color: #eceff1;
}

.headmenu p{
		font-family: 'Roboto', sans-serif;
		font-size: large;
		color: #337179;
		padding-bottom: 0px;
		padding-top: 6px;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
}

@media (min-width: 1200px) {
	.navbar .container{
		max-width: 970px;
	}
}

/*main*/

#main
{
	border-radius: 5px;
	overflow:auto;
	margin-top: 0px;
}
#main_left
{
	float:left;
	width:800px;
	background-color:#f2f2f2;
	min-height:800px;
}
#main_right
{
	float:left;
	width:340px;
	background-color: lightblue;
	min-height:800px;
}
#footer
{
	margin-top: 5px;
	height:40px;
	border:solid 2px #FF9900;
}
