	body{
		font-family: Segoe UI,verdana;
		font-size: large;
	}

/*navigation bar*/
	.navbar-wrapper{
		position: absolute;
		top: 30px;
		right: 0;
		left: 0;
		z-index: 20;
	}

	#logo{
		 font-family:'Samarkan Normal';
		 font-size: 63px;
		 margin-top: -5px;
		 margin-bottom: 5px;
	}

	#logo a:link {
		color:#FFD700;
		text-decoration: none;
	}

	#logo a:visited {
		color:#FFD700;
		text-decoration: none;
	}

	@font-face {
	font-family: 'Samarkan Normal';
	font-style: normal;
	font-weight: normal;
	src: local('Samarkan Normal'), url('SAMARN__.woff') format('woff');
	}

	.navbar{
		background-color: #eceff1;
		border-width: 0px;
		padding-bottom: 0px;
	}

	@media (min-width: 1200px) {
		.navbar .container{
			max-width: 970px;
		}
	}

	.activeX{
		background-color: #bac1c4;
	}

	.headmenu p{
		font-family: 'Roboto', sans-serif;
		font-size: large;
		color: #337179;
		padding-bottom: 0px;
		padding-top: 6px;
	}

	@media (min-width: 768px) {
		.navbar-nav.navbar-center {
			position: absolute;
			left: 50%;
			transform: translatex(-50%);
		}
	}

/*carousel*/
	.item{
		border-radius: 4px;
	}

	.carousel-indicators li{
		border-style: dotted;
	}

	.carousel-indicators .active{
		background-color: rgba(236, 239, 241, 0.4);
	}

	.carousel {
		height: 350px;
		margin-bottom: 8px;
	}

	.carousel .item {
		height: 350px;
		background-color: rgba(51, 20, 79, 0.96);
	}

	.carousel-inner .item p{
		color: rgb(218,165,32);
		font-family: 'Amiko', sans-serif;
		font-size: 40px;
	}

/*body main*/
	.main{
		padding-top: 15px;
	}

	.thumb p{
		display: flex;
		justify-content: center;
		font-family: Tahoma,sans-serif; 
		font-size: 24px;		
		color: #391b52;		
	}

	.main .thumb .panel-primary{
		margin: 0px 0px 1px 0px;
		max-width: 200px;
	}

	.mod .col-md-6{
		padding: 1px;
	}

	.mod .col-md-6 .thumbnail{
		margin: 1px;
		padding: 1px;
		width: 520px;
		height: 270px;
	}

	.col-md-6 .thumbnail img{
		width: 100%;
		height: 100%;
	}

/*modal*/
	.modal-body{
		padding: 5px;
	}

	.modal-footer{
		padding: 5px;
	}

	#btn1{
		height: 100%;
		width: 100%;
		color: black;
		font-size: 20px;
		background-color: #337ab7;
		padding: 4px;
	}


